*{
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

#navbar{
    position: relative;
    width: 1200px;
    height: 70px;
    top: 0;
    margin: 0 auto;
    background-color: #B48F7D;
    box-shadow: 0px 10px 5px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#logo {
    position: relative;
    height: 50px;
    width: 300px;
    float: left;
    margin-top: 10px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #EBE2D3;
    font-size: 30px;
    line-height: 50px;
}

#navbuttons {
    position: relative;
    width: 450px;
    height: 100%;
    float: right;
    right: 90px;
}

.nbutton{
    position: relative;
    float: left;
    height: 100%;
    width: 150px;
    margin-left: 10px;
    background-color: transparent;
    border: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    color: #EBE2D3;
    transition: 0.3s;
}

.nbutton:hover{
    color: #8D5858;
    text-decoration: underline;
    text-decoration-color: #8D5858;
}

#content{
    position: relative;
    width: 1200px;
    height: 600px;
    top: -1px;
    margin: 0 auto;
    background-color: #3E3E4A;
    z-index: 0;
}

#image {
    position: relative;
    height: 100%;
    width: 60%;
    float: left;
}

#detail{
    position: relative;
    height: 100%;
    width: 39.6%;
    float: right;
    background-color: #3E3E4A;

}

#title {
    position: relative;
    height: 90px;
    top: 15%;
    width: 95%;
    margin: 0 auto;
    color: #EBE2D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

#desc {
    position: relative;
    height: 200px;
    top: 25%;
    width: 90%;
    margin: 0 auto;
    line-height: 25px;
    color: #EBE2D3;
    font-family: Arial, Helvetica, sans-serif;
}

#buttons {
    position: relative;
    height: 90px;
    top: 25%;
    width: 80%;
    margin: 0 auto;
}

.dbutton {
    position: relative;
    float: left;
    height: 100%;
    width: 150px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #B48F7D;
    color: #EBE2D3;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
    transition: 0.3s;
}

.dbutton:hover{
    color: #8D5858;
    /* box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4); */
}