@charset "utf-8";

body {
    margin: 0px;
    margin-bottom: 10px;
    background: white;
    /* background: rgb(23, 31, 36); */
}

nav {
    position: relative;
    height: 80px;
    width: 100%;
    background: red;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* line-height: 80px; */
}

#composition{
    position: relative;
    width: 100%;
    height: 630px;
    background: orange;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 500px;
}

#headtext{
    position: relative;
    width: 20%;
    height: 66px;
    background: yellow;
    border: 1px solid black;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#detailtext {
    position: relative;
    width: 50%;
    height: 300px;
    background: green;
    border: 1px solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    padding-bottom: auto;
}

p {
    font-family: "Montserrat", sans-serif;
}